USE [MyMagazin2]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 30.04.2021 12:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[IdClient] [int] NOT NULL,
	[IdUserOfClient] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[IdDeletid] [bit] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfProductsInOrder]    Script Date: 30.04.2021 12:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfProductsInOrder](
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[IdDeletid] [bit] NULL,
 CONSTRAINT [PK_ListOfProductsInOrder] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30.04.2021 12:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] NOT NULL,
	[OrderName] [nvarchar](50) NOT NULL,
	[IdDeletid] [bit] NULL,
	[ClientId] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 30.04.2021 12:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[Description] [nvarchar](50) NULL,
	[IdDeletid] [bit] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOfClient]    Script Date: 30.04.2021 12:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOfClient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[IdDeletid] [bit] NULL,
 CONSTRAINT [PK_UserOfClient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.04.2021 12:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUsers] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IdUserOfClient] [int] NOT NULL,
	[IdDeletid] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IdUsers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF__Client__IdDeleti__2E1BDC42]  DEFAULT ((0)) FOR [IdDeletid]
GO
ALTER TABLE [dbo].[ListOfProductsInOrder] ADD  CONSTRAINT [DF__ListOfPro__IdDel__2F10007B]  DEFAULT ((0)) FOR [IdDeletid]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__IdDeleti__300424B4]  DEFAULT ((0)) FOR [IdDeletid]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__IdDele__30F848ED]  DEFAULT ((0)) FOR [IdDeletid]
GO
ALTER TABLE [dbo].[UserOfClient] ADD  CONSTRAINT [DF__UserOfCli__IdDel__31EC6D26]  DEFAULT ((0)) FOR [IdDeletid]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IdDeletid__32E0915F]  DEFAULT ((0)) FOR [IdDeletid]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Orders]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_UserOfClient] FOREIGN KEY([IdUserOfClient])
REFERENCES [dbo].[UserOfClient] ([Id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_UserOfClient]
GO
ALTER TABLE [dbo].[ListOfProductsInOrder]  WITH CHECK ADD  CONSTRAINT [FK_ListOfProductsInOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[ListOfProductsInOrder] CHECK CONSTRAINT [FK_ListOfProductsInOrder_Order]
GO
ALTER TABLE [dbo].[ListOfProductsInOrder]  WITH CHECK ADD  CONSTRAINT [FK_ListOfProductsInOrder_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ListOfProductsInOrder] CHECK CONSTRAINT [FK_ListOfProductsInOrder_Products]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserOfClient] FOREIGN KEY([IdUserOfClient])
REFERENCES [dbo].[UserOfClient] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserOfClient]
GO
/****** Object:  Statistic [_WA_Sys_00000002_22AA2996]    Script Date: 30.04.2021 12:50:22 ******/
CREATE STATISTICS [_WA_Sys_00000002_22AA2996] ON [dbo].[Client]([IdUserOfClient]) WITH STATS_STREAM = 0x01000000010000000000000000000000392BCF0D00000000FA01000000000000BA01000000000000380300003800000004000A000000000000000000000000000700000056ABC3001AAD0000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F04000000040000100014000000803F0000803F0000803F0600000004000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_22AA2996]    Script Date: 30.04.2021 12:50:22 ******/
CREATE STATISTICS [_WA_Sys_00000003_22AA2996] ON [dbo].[Client]([OrderId]) WITH STATS_STREAM = 0x010000000100000000000000000000006FEFB82300000000FA01000000000000BA01000000000000380300003800000004000A000000000000000000000000000700000040B7AF001AAD0000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F0300000004000003000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Client]    Script Date: 30.04.2021 12:50:22 ******/
UPDATE STATISTICS [dbo].[Client]([PK_Client]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_24927208]    Script Date: 30.04.2021 12:50:22 ******/
CREATE STATISTICS [_WA_Sys_00000002_24927208] ON [dbo].[ListOfProductsInOrder]([ProductId]) WITH STATS_STREAM = 0x010000000100000000000000000000009060886E00000000FA01000000000000BA010000000000003803F6A73800000004000A0000000000000000000000000007000000FFACC4001AAD0000060000000000000006000000000000000000003FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E00000000000000100000000000000027000000000000001000140000000040000000000000803F01000000040000100014000000004000000040000000400300000004000006000000000000000000000000000000
GO
/****** Object:  Statistic [PK_ListOfProductsInOrder]    Script Date: 30.04.2021 12:50:22 ******/
UPDATE STATISTICS [dbo].[ListOfProductsInOrder]([PK_ListOfProductsInOrder]) WITH STATS_STREAM = 0x01000000020000000000000000000000AE2DB67F000000003102000000000000D901000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000070000004EB7AF001AAD00000600000000000000060000000000000000000000ABAAAA3EABAA2A3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000200000014000000000000410000C04000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F0000000000000046000000000000001000140000004040000000000000803F01000000040000100014000000803F000000000000803F020000000400001000140000000040000000000000803F0300000004000006000000000000000000000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Order]    Script Date: 30.04.2021 12:50:22 ******/
UPDATE STATISTICS [dbo].[Orders]([PK_Order]) WITH STATS_STREAM = 0x01000000010000000000000000000000DBD5A51D00000000FA01000000000000BA01000000000000380300003800000004000A00000000000000000000000000070000003455C0001AAD0000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F0300000004000003000000000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Products]    Script Date: 30.04.2021 12:50:22 ******/
UPDATE STATISTICS [dbo].[Products]([PK_Products]) WITH STATS_STREAM = 0x01000000010000000000000000000000AD7697C1000000001902000000000000D901000000000000380300003800000004000A0000000000000000000000803F07000000E2ACC4001AAD0000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F00000000040000100014000000803F0000803F0000803F02000000040000100014000000803F000000000000803F0300000004000004000000000000000000000000000000, ROWCOUNT = 7, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_UserOfClient]    Script Date: 30.04.2021 12:50:22 ******/
UPDATE STATISTICS [dbo].[UserOfClient]([PK_UserOfClient]) WITH STATS_STREAM = 0x0100000001000000000000000000000030C56978000000003802000000000000F801000000000000380300003800000004000A000000000000000000000000000700000029ABC3001AAD0000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000007C0000000000000084000000000000008C00000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F00000000040000100014000000803F0000803F0000803F02000000040000100014000000803F0000803F0000803F04000000040000100014000000803F0000803F0000803F0600000004000007000000000000000000000000000000, ROWCOUNT = 12, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_2C3393D0]    Script Date: 30.04.2021 12:50:22 ******/
CREATE STATISTICS [_WA_Sys_00000002_2C3393D0] ON [dbo].[Users]([Login]) WITH STATS_STREAM = 0x01000000010000000000000000000000E3EE582E00000000DC020000000000009C02000000000000E7030000E7000000640000000000000015D0000038000000070000008D91A7001AAD00000300000000000000030000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000005555A54100004040000000005555A5410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000009B00000000000000180100000000000020010000000000002801000000000000180000000000000049000000000000006A00000000000000300010000000803F000000000000803F040000010031004C006F00670069006E00500061007300730077006F0072006400300010000000803F000000000000803F040000010021005000610072006F006C00300010000000803F000000000000803F04000001003100500061007300730077006F00720064004C006F00670069006E00FF01000000000000000300000003000000280000002800000000000000000000001D0000004C006F00670069006E00500061007300730077006F00720064005000610072006F006C007300730077006F00720064004C006F00670069006E00050000004000000000810D00000040020D000081030F0000010B1200000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_2C3393D0]    Script Date: 30.04.2021 12:50:22 ******/
CREATE STATISTICS [_WA_Sys_00000003_2C3393D0] ON [dbo].[Users]([Password]) WITH STATS_STREAM = 0x010000000100000000000000000000002C76198A00000000DF020000000000009F02000000000000E7030000E7000000640000000000000015D0000038000000070000008791A7001AAD00000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000ABAAAA410000404000000000ABAAAA410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000009D000000000000001B0100000000000023010000000000002B01000000000000180000000000000041000000000000006E00000000000000300010000000803F000000000000803F04000001002900340035003600340035006100640053007100300010000000803F000000000000803F04000001002D00410073006400630078007A0061007300650071007700300010000000803F000000000000803F04000001002F0056005A005800630061007300640061007300640071007700FF010000000000000003000000030000002800000028000000000000000000000020000000340035003600340035006100640053007100410073006400630078007A006100730065007100770056005A0058006300610073006400610073006400710077000400000040000000008109000000810B090000010C1400000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_2C3393D0]    Script Date: 30.04.2021 12:50:22 ******/
CREATE STATISTICS [_WA_Sys_00000004_2C3393D0] ON [dbo].[Users]([IdUserOfClient]) WITH STATS_STREAM = 0x01000000010000000000000000000000C66BE0FF00000000FA01000000000000BA01000000000000380313003800000004000A00000000000000000000000000070000003FABC3001AAD0000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F0300000004000003000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Users]    Script Date: 30.04.2021 12:50:22 ******/
UPDATE STATISTICS [dbo].[Users]([PK_Users]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
